<div class="container">
    <mat-card class="reset_password">
        <mat-card-header>
            <mat-card-title>Восстановить пароль</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="reset_password__username" appearance="outline">
                <mat-label>Email</mat-label>
              <input matInput  [(ngModel)]="email" type="text" required>
            </mat-form-field>
            <p class="reset_password__hint" [ngClass]="{'reset_password__hint-error': error, 'reset_password__hint-success': success}">
                {{message}}
            </p>
            <div class="reset_password__footer footer" fxLayout="row">
                <img src="assets/pngegg.png" class="footer__decoration" fxFlex="50">
                <div class="footer__actions" fxFlex="50" fxLayout.gt-sm="row" fxLayout="column">
                    <button mat-raised-button class="submit-button" (click)="resetPassword()">Восстановить</button>
                    <a routerLink="/auth">Войти</a>
                    <a routerLink="/registration">Зарегестрироватья</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
