.container {
    min-height: 93vh;
    margin: 0;
    // background: center url(https://img.freepik.com/free-vector/hexagon-geometric-background-polygon-wallpaper-hexagon-seamless-pattern_206846-1582.jpg) repeat-y;
    // -moz-background-size: 100%; /* Firefox 3.6+ */
    // -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    // -o-background-size: 100%; /* Opera 9.6+ */
    // background-size: 100%; /* Современные браузеры */
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    

    .reset_password {
        max-width: 80vw;
        margin: auto;
        .mat-card-title {
            font-size: 30px;
        }

        .mat-card-content {
            padding: 24px 16px;
            .reset_password__username {
                width: 100%;
                margin-top: 10px;
            }
            .reset_password__hint {
                margin-top: 10px;

                &-error {
                    color: red;
                }

                &-success {
                    color: green;
                }
            }

            .footer {
                margin-top: 16px;
                align-items: center;

                &__decoration {
                    padding: 0 16px; 
                }

                &__actions {
                    justify-content: center;
                    padding-left: 16px;

                    @media(min-width: 993px) {
                        a {
                            margin-left: 20px;
                        }
                    }
                    .submit-button {
                        width: fit-content
                    }
                    a {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}