<mat-toolbar color="primary">
    <img src="/assets/images/logo.png" class="logo"  height=60 width=40>
    <b><h4 class="name">Сок "Ижорец"</h4></b>
    <div class="space"></div>
    <div *ngIf="staticChangeMenu" fxLayout="row">
    <div [hidden]="isCollapsed" *ngFor="let menuItem of menuitems">
        <a *ngIf="menuItem.children!=null" mat-button [routerLink]="[menuItem.route]" [routerLinkActive]="[menuItem.active]" [matMenuTriggerFor]="menu" #trigger="matMenuTrigger" (mouseenter)="trigger.openMenu()">
            <fa-icon [icon]="menuItem.iconName" class="fa fa-lg"></fa-icon> {{menuItem.displayName}}
        </a>
        <a *ngIf="menuItem.children==null" mat-button [routerLink]="[menuItem.route]" [routerLinkActive]="[menuItem.active]">
            <fa-icon [icon]="menuItem.iconName" class="fa fa-lg"></fa-icon> {{menuItem.displayName}}
        </a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let childItem of menuItem.children">{{ childItem.displayName }}</button>
            </mat-menu>
    </div>
    </div>
    <span class="flex-spacer"></span>
    <div *ngIf="staticChangeMenu" fxLayout="row">
    <div  *ngIf="!isCollapsed" ><fa-icon [icon]="faUserCircle" class="fa fa-2x endEl" [matMenuTriggerFor]="menu" #trigger="matMenuTrigger" (mouseenter)="trigger.openMenu()"></fa-icon></div>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
    <button mat-icon-button *ngIf="isCollapsed" (click)="closeBar()"><fa-icon [icon]="faBars" class="fa fa-2x endEl"></fa-icon></button>
        </div>
</mat-toolbar>
<div class="rect" [hidden]="!showBackdrop" [@slide]="activePane">
    <mat-list>
        <div *ngFor="let menuItem of menuitems">
        <mat-list-item>
            <b><p matLine>{{menuItem.displayName}}</p></b>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let childItem of menuItem.children">
            <mat-card-subtitle style="padding-left: 20px;" matLine>{{childItem.displayName}}</mat-card-subtitle>
            <mat-divider style="background: rgb(245, 245, 253);"></mat-divider>
        </mat-list-item>
        </div>
    </mat-list>
</div>
