<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-sm="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Ссылки</h4>
        <mat-list>
          <mat-list-item><a mat-button routerLink='/aboutus'>О нас</a></mat-list-item>
          <mat-list-item><a mat-button href='https://www.sok-izhorets.ru'>Официальный сайт</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/schedule'>Расписание</a></mat-list-item>
          <mat-list-item><a mat-button href='https://www.sok-izhorets.ru/dokumenty'>Документы</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Адрес</h4>
        <address style="text-size: 80%">
            Тверская ул., 27<br> Колпино, г Санкт-Петербург<br> ИНН 7817037811<br> ОГРН 1027808755590 <br>
          <mat-icon >phone</mat-icon>: +78124174979<br>
          <mat-icon>email</mat-icon>:
          <a href="mailto:info@sok-izhorets.ru">info@sok-izhorets.ru</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45" fxLayout="row" class="links">
    <div style="text-align:center" class="icons">
      <a mat-icon-button class="btn-vk" href="https://vk.com/sokizhorets"><i class="fa fa-vk fa-lg"></i></a>
      <a mat-icon-button class="btn-link" href="https://www.sok-izhorets.ru/"><i class="fa fa-link fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:info@sok-izhorets.ru"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
    <div class="mobile_app">
      <img src="assets/app.jpg"/>
    <a style="text-align:center" href="https://lubarog13.pythonanywhere.com/media/training-log.apk">
      Скачайте приложение<br/> для Android
    </a>
    </div>
  </div>
  <div>
      <p>© 2022 СПб ГБУ СОК "Ижорец"</p>
  </div>
</div>