
@import '/src/styles.scss';

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{
    background-color: #6993c7;
    ;
    @include zero-margin(20px, 0px);
}

.btn-vk {color:#fff!important; background-color:#3b5998!important;}
.btn-instagram{color:#fff!important;background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );}
.btn-link{color:#fff!important;background-color:#007bb6!important;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;}

.links {
    justify-content: end;
    align-items: center;

.mobile_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 130px;
        height: 130px;
    }
}
.icons {
    width: fit-content;
}
}