
<div class="container"
fxLayout="column">
<div fxFlex>
    <div fxLayout.gt-sm="row" fxLayout="column">
        <div fxFlex>
        <iframe id="player" src="https://www.youtube.com/embed/Rxt12xzrTlY?rel=0&fs=1&wmode=transparent" frameborder="0" allowfullscreen></iframe>
        </div>
        <div fxFlex>
            <h1>О нас</h1>
            <p style="text-align: center;">В настоящее время СОК «Ижорец» занимает озеленённую территорию в Колппинском районе площадью 22 гектара, включая:</p>
            <ul>
                <li style="text-align: left;">здание водно-спортивного корпуса с 3 чашами:</li>
                </ul>
                <p style="padding-left: 60px;">- большая&nbsp;чаша&nbsp;с&nbsp;дорожками&nbsp;длиной&nbsp;50&nbsp;м;</p>
                <p style="padding-left: 60px;">-&nbsp;средняя чаша с дорожками длиной 12,5&nbsp;м;&nbsp;</p>
                <p style="padding-left: 60px;">-&nbsp;малая чаша «Малышок»;</p>
                <ul>
                    <li>крытый манеж с беговыми дорожками по 110&nbsp;м;</li>
                    <li>три&nbsp;футбольных&nbsp;поля;</li>
                    <li>городошный&nbsp;корт&nbsp;с&nbsp;4&nbsp;площадками;</li>
                    <li>спортивный корпус&nbsp;с&nbsp;залами&nbsp;для&nbsp;борьбы, художественной&nbsp;гимнастики, игровых&nbsp;видов спорта.&nbsp;</li>
                    </ul>
                <p>&nbsp;</p>
                <p style="text-align: center;">В&nbsp;состав&nbsp;СОК «Ижорец»&nbsp;также&nbsp;входит&nbsp;картодром&nbsp; (г.&nbsp;Колпино,&nbsp;Саперный&nbsp;пер.,&nbsp;13,&nbsp;лит.А) , спортивный корпус «Металлострой» (пос. Металлострой, ул. Пушкинская, д.3),&nbsp;стадион&nbsp;«Парус»&nbsp;(пос.&nbsp;Саперный, Лагерное&nbsp;ш.,&nbsp;д.&nbsp;11),&nbsp;Стадион «Искра» (пос. Металлострой, ул. Садовая, д.4).</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">Основной базой для проведения занятий и спортивных мероприятий являются спортивные сооружения СПб ГБУ СОК «Ижорец», а также спортивные сооружения Колпинского района - это дворовые площадки и пришкольные стадионы.</p>
                <p>&nbsp;</p>
                <p style="text-align: center;">СОК «Ижорец» предоставляет возможность для занятий физической культурой и спортом населению всех возрастов Колпинского и близлежащих районов.</p>
        </div>
    </div>
</div>
</div>