<app-loading *ngIf="loading"></app-loading>
<div
*ngIf="!loading"
class="container"
    fxLayout="column">
    <div id="head_image" *ngIf="!errMsg">
        <h1 id="title">Аналитика</h1>
    </div>
    <div fxLayout="column" fxLayout.gt-xs="row" fxFlex="70" fxFlex.lt-sm="150" *ngIf="!errMsg">
<div class="sample" fxFlex="50" style="margin-bottom: 20px;">
    <div class="options vertical">
        <span class="legendTitle">Посещения по типу тренировок</span>
        <igx-item-legend #legend></igx-item-legend>
    </div>

    <div class="chart">
        
        <igx-pie-chart #chart *ngIf="data"
        height="100%"
        width="100%"
        [dataSource]="data"
        [legend]="legend"
        valueMemberPath="Value"
        labelMemberPath="Label"
        (sliceClick)="pieSliceClickEvent($event)"
        labelsPosition="BestFit"
        labelExtent="30">
    </igx-pie-chart>
    </div>
</div>
<div class="sample" fxFlex="50">
    <div class="options vertical">
        <span class="legendTitle">Посещения тренировок</span>
    </div>
    <div class="chart">
        <igx-category-chart height="100%" width="100%"
            [dataSource]="data2"
            chartType="line"
            outlines="#22f907, #ff0000"
            brushes="#22f907, #ff0000"
            markerBrushes="white"
            markerOutlines = "#22f907, #ff0000"
            yAxisTitle="Кол-во"
            yAxisTitleLeftMargin="5">
        </igx-category-chart>
    </div>
</div>
    </div>
    <div fxLayout="row" fxFlex="30" *ngIf="!errMsg">
        <div fxFlex="30" id="allBox" class="centered">
            <div style="height: fit-content;">Всего:</div>
        </div>
        <div fxFlex="30" class="centered" fxLayout="column">
            <div id="total">{{total}}</div>
            <div id="subtotal">тренировки</div>
        </div>
        <div fxFlex="10"></div>
        <div fxFlex="30" class="centered" style="align-items: baseline; " fxLayout="column">
            <div class="type-div"><span class="type-box" style="background: red;"></span>
            <div class="type-text" style="color: red;">{{forTypes.For_all}} общих</div></div>
            <div class="type-div"><span class="type-box" style="background: #FF5E00;"></span>
            <div class="type-text" style="color: #FF5E00;">{{forTypes.Cardio}} кардио</div></div>
            <div class="type-div"><span class="type-box" style="background: #9EA000;"></span>
                <div class="type-text" style="color: #9EA000;">{{forTypes.Another}} других</div></div>
                <div class="type-div"><span class="type-box" style="background: #2FFF00;"></span>
                <div class="type-text" style="color: #2FFF00;">{{forTypes.Strength}} силовых</div></div>
                <div class="type-div"><span class="type-box" style="background: #245796;"></span>
                <div class="type-text" style="color: #245796;">{{forTypes.For_tech}} на технику</div></div>
        </div>
    </div>
    <app-error-component *ngIf="errMsg" [err]="errMsg"></app-error-component>
</div>