<app-loading *ngIf="loading"></app-loading>
<div class="container"
     fxLayout="column"

     >
     <div fxFlex *ngIf="!errmess" [ngClass]="loading? 'unvizible': ''">
<div fxLayout="column" fxLayout.gt-md="row" style="height: 100%;">
    <div fxFlex.gt-md="50" align="center" id="calendar_schedule">
        <mat-card appMaterialElevation [@expand] class="calendar-card">
            <mat-calendar class="calendar" style="color: black;" [dateFilter]="myFilter" (selectedChange)="dateClick($event)" [selected]="selected_date"></mat-calendar>
          </mat-card>
    </div>
    <div fxFlex="50" id="schedule" >
            <h2 style="text-align: center; color: white;" class="mat-elevation-z3">{{headerText}}</h2>
            <mat-grid-list #grid rowHeight="400px" >
                <mat-grid-tile *ngFor="let workout of workouts">
                    <mat-card appMaterialElevation [@expand] *ngIf="!is_coach">
                        <mat-card-header>
                        <mat-card-title>
                            {{workout.club.name}}
                        </mat-card-title>
                        <div class="on_train"> {{workout.on_train}}</div>
                        <div class="dont_know"> {{workout.dont_know}} </div>
                        <div class="not_on_train">
                        {{workout.not_on_train}} </div>
                        <div class="right_column" style="width: 100%;">
                        {{workout.start_date.getUTCHours()}}:{{(workout.start_date.getMinutes()<10?'0':'') + workout.start_date.getMinutes()}}</div>
                        </mat-card-header>
                        <mat-divider [ngStyle]="{'background-color': workout.color}" style="height: 3px;"></mat-divider>
                        <mat-card-content>
                            <br>
                            <div>Время: <span class="right_column"> {{workout.start_date.toLocaleDateString()}} {{workout.start_date.getUTCHours()}}:{{(workout.start_date.getMinutes()<10?'0':'') + workout.start_date.getMinutes()}}-{{workout.end_date.getUTCHours()}}:{{(workout.end_date.getMinutes()<10?'0':'') + workout.end_date.getMinutes()}}</span></div>
                            <div>Группа: <span class="right_column"> {{workout.club.group}}</span></div>
                            <div>Зал: <a [routerLink]="['/info/halls']" [queryParams]="{hall_id: workout.hall.id}" class="right_column"> {{workout.hall.name}}, {{workout.hall.number}}</a></div>
                            <div>Тренер: <span class="right_column"> {{ workout.coach_replace!=undefined? workout.coach_replace.user.last_name + " "
                                 + workout.coach_replace.user.first_name.charAt(0) + ". " + workout.coach_replace.user.second_name.charAt(0)+ "."
                                 : workout.club.coach.user.last_name + " " + workout.club.coach.user.first_name.charAt(0) + ". " 
                                 + workout.club.coach.user.second_name.charAt(0)+ "."}}</span></div>
                             <div>Тип: <span class="right_column"> {{workout.type!="другое"? workout.type: workout.other_type}}</span></div>
                             <div class="workout_cancel" *ngIf="workout.is_carried_out">Тренировка отменена</div>
                             <div *ngIf="(whoDontKnow!=undefined || whoGoes!=undefined || whoNotGoes!=undefined) && currentWorkoutId==workout.id">
                            <mat-divider></mat-divider>
                             <div fxLayout="row" align="center" class="whoGoes" style="width: 100%;">
                                 <div fxFlex="33">
                                    <fa-icon [icon]="faThumbsUp" style="color: green; align-content: center;"></fa-icon>
                                     <button mat-button *ngFor="let presence of whoGoes" align="left" (click)="openDialog(presence.user)">
                                         {{presence.user.last_name + " "+ presence.user.first_name.charAt(0) + ". " + presence.user.second_name.charAt(0) + "."}}
                                     </button>
                                 </div>
                                 <div fxFlex="33">
                                    <fa-icon [icon]="faQuestionCircle" style="color: grey;"></fa-icon>
                                    <button mat-button  *ngFor="let presence of whoDontKnow" align="left" (click)="openDialog(presence.user)">
                                        {{presence.user.last_name + " "+ presence.user.first_name.charAt(0) + ". " + presence.user.second_name.charAt(0) + "."}}
                                    </button>
                                </div>
                                 <div fxFlex="33">
                                    <fa-icon [icon]="faTimesCircle" style="color: red;"></fa-icon>
                                    <button mat-button  *ngFor="let presence of whoNotGoes" align="left" (click)="openDialog(presence.user)">
                                        {{presence.user.last_name + " "+ presence.user.first_name.charAt(0) + ". " + presence.user.second_name.charAt(0) + "."}}
                                    </button>
                                </div>
                             </div>
                             </div>
                             <div *ngIf="workout.is_on==true" fxLayout="row" align="center" style="background: #2FFF00;" class="info">
                                <fa-icon [icon]="faThumbsUp" style="color: black; margin-right: 10px;" ></fa-icon>
                                 Вы идете на тренировку
                             </div>
                             <div *ngIf="workout.is_on==false" fxLayout="row" style="background: #d14747;color: white;" class="info">
                                <fa-icon [icon]="faTimesCircle" style="margin-right: 10px;" ></fa-icon>
                                Вы не идете на тренировку
                             </div>
                                 <form *ngIf="sendReason.has(workout.id) && sendReason.get(workout.id)==true" novalidate [formGroup]="reasonForm" #reasonform="ngForm" (ngSubmit)="onSubmit(workout.id)">
                                    <textarea style="width: 100%; margin-top: 20px;" rows="5" matInput formControlName="reason" placeholder="Введите причину отсутствия" type="text" required></textarea>
                                    <button type="submit" mat-button class="submit-button">Сохранить</button>
                                 </form>
                        </mat-card-content>
                        <mat-card-footer>
                            <button mat-button class="button-ok" (click)="updatePresence(workout.id, true, null)">
                                <fa-icon [icon]="faThumbsUp" style="color: white;" ></fa-icon>
                                Я иду
                            </button>
                            <button mat-button class="button-no" (click)="updatePresence(workout.id, false, null)">
                                <fa-icon [icon]="faTimesCircle"></fa-icon>
                                Я не иду
                            </button>
                            <button mat-button class="button-who-goes"  (click)="getPresences(workout.id)">
                                <fa-icon [icon]="faQuestionCircle"></fa-icon>
                                Кто идет?
                            </button>
                        </mat-card-footer>
                    </mat-card>
                    <app-coach-workout-card *ngIf="is_coach"
                        [workout]="workout"
                        (edit)="editedWorkout = workout; openEditForm=true"
                        (cancel)="cancelWorkout(workout)"
                    >
                    </app-coach-workout-card>
                </mat-grid-tile>
            </mat-grid-list>
            </div>
</div>
</div>
<app-edit-workout *ngIf="openEditForm" (windowClosed)="openEditForm=false" (created)="openEditForm=false; monthSelected()" id="edit-workout" [workout]="editedWorkout"></app-edit-workout>
<app-add-workout *ngIf="openAddForm" (windowClosed)="openAddForm=false" (created)="openAddForm=false; monthSelected()" id="add-workout"></app-add-workout>
<button mat-fab color="primary" id="edit-button" [disabled]="!openEditForm" (click)="openEditForm=false" *ngIf="is_coach"><mat-icon>edit</mat-icon></button>
<button mat-fab id="add-button" (click)="openAddForm= !openAddForm" *ngIf="is_coach"><mat-icon>add</mat-icon></button>
<app-error-component [err]="errmess" *ngIf="errmess"></app-error-component>
</div>
