@import '/src/styles.scss';

.not_on_train {
    color: red;
    margin-left: 5px;
    margin-right: 10px;
}

.on_train {
    color: $green-aceent-color;

}
.dont_know {
    color: rgb(100, 98, 98);
    margin-left: 5px;
}

.right_column {
    text-align: end;
    float: right;
}
.mat-card-content {
    div {
        padding-top: 10px;
        font-weight: bold;
    }
    span, a {
        font-weight: normal;
    }
}

#schedule {
    // background: url(https://fony-kartinki.ru/_ph/39/2/700273434.jpg);
    background: url(https://image.freepik.com/free-vector/abstract-blue-background_1048-1511.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    overflow: auto;
    max-height: 93vh;
}


.button-ok {
    background: $green-aceent-color;
    color: white;
    width: 33.3%;
}
.button-no {
    background: red;
    color: white;
    width: 33.3%;
}

.button-who-goes {
    background: $blue-accent-color;
    color: white;
    width: 33.3%;
}

.whoGoes {
    p {
        font-size: 12px;
    }
}

.info {
    justify-content: center;
     padding-bottom: 10px;
      margin-top: 3px;
}
.fixed-calendar {
    width: 340px;
    height: 340px;
    display: block;
  }
  
  .fixed-calendar .md-calendar-scroll-mask {
    width: 340px !important;
  }
  
  .fixed-calendar .md-virtual-repeat-scroller {
    width: 340px !important;
    height: 308px;
  }

  #calendar_schedule {
    background: url(../shared/images/image_4.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    max-height: 93vh;
}

@media (min-width: 992px) {
    #calendar_schedule {
        -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; 
    background-size: 100%;
    }
}
.container {
    margin: 0;
    height: 93vh;
}

#add-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 3%;
    margin-bottom: 3%;
    z-index: 1000;
}
#add-workout {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 5%;
    margin-bottom: 5%;
    z-index: 1000;
}