<app-loading *ngIf="loading"></app-loading>
<div class="container"
fxLayout="column"
*ngIf="!errMess"
[ngClass]="loading?'unvisible': ''"
>
<mat-tab-group [selectedIndex]="active.value" (selectedTabChange)="selectedChange()" (selectedIndexChange)="active.setValue($event)">
    <mat-tab label="Входящие">
        <div fxFlex class="message-container" fxLayout="column">
            <mat-grid-list #gridList rowHeight="400px">
                <mat-grid-tile *ngFor="let message of messages">
                    <mat-card style="width: 90%; margin-left: 5%; height: 84%" class="mat-elevation-z8" class="message_card">
                        <mat-card-header>
                            <mat-icon mat-card-avatar>email</mat-icon>
                            <div fxLayout="column" style="width: 100%;" class="message_card__title">
                            <mat-card-title>{{message.sender.username}}</mat-card-title>
                            <mat-card-subtitle>{{message.sender.last_name + " " + message.sender.first_name}}</mat-card-subtitle>
                    </div>
                    <p style="text-align: end; width:100%;">{{message.send_date.toLocaleDateString() + " " + message.send_date.getUTCHours()}}:{{(message.send_date.getMinutes()<10?'0':'') + message.send_date.getMinutes()}}</p>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content style="padding: 10px;">
                            <h3>{{message.heding}}</h3>
                            <p class="message-text">{{message.message}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button (click)="replyMessage(message)"><mat-icon>reply</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

        </div>
        </mat-tab>
    <mat-tab label="Исходящие">
        <div fxFlex class="message-container" fxLayout="column">
            <mat-grid-list #gridTooList rowHeight="400px">
                <mat-grid-tile *ngFor="let message of messages">
                    <mat-card style="width: 90%; margin-left: 5%; height: 84%" class="mat-elevation-z8" class="message_card">
                        <mat-card-header>
                            <mat-icon mat-card-avatar>email</mat-icon>
                            <div fxLayout="column" style="width: 100%;" class="message_card__title">
                            <mat-card-title>{{message.recipient.username}}</mat-card-title>
                            <mat-card-subtitle>{{message.recipient.last_name + " " + message.recipient.first_name}}</mat-card-subtitle>
                    </div>
                    <p style="text-align: end; width:100%;">{{message.send_date.toLocaleDateString() + " " + message.send_date.getUTCHours()}}:{{(message.send_date.getMinutes()<10?'0':'') + message.send_date.getMinutes()}}</p>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content style="padding: 10px;">
                            <h3>{{message.heding}}</h3>
                            <p class="message-text">{{message.message}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button [disabled]="isDisabled(message.send_date)" (click)="editMessage(message)"><mat-icon>border_color</mat-icon></button>
                            <button mat-icon-button [disabled]="isDisabled(message.send_date)" (click)="openDialog(message.id)"><mat-icon>delete</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-tab>
</mat-tab-group>
<app-add-message id="add-message" *ngIf="openMessageForm || openEditForm || openReplyForm"
[isEdit]="openEditForm"
[reply]="openReplyForm"
[message]="editedMessage"
(messageSent)="reload()"
(windowClosed)="openMessageForm=false; openEditForm=false; openReplyForm = false"
></app-add-message>
<button mat-fab id="add-button" (click)=" openMessageForm= openEditForm || openReplyForm ?false: !openMessageForm; openEditForm=false; openReplyForm = false"><mat-icon *ngIf="!openEditForm && !openReplyForm">add</mat-icon><mat-icon *ngIf="openEditForm || openReplyForm">edit</mat-icon></button>
</div>
<app-error-component *ngIf="errMess" [err]="errMess"></app-error-component>
