.container {
    margin: 0;
    height: 93vh;
    background: url(https://i.pinimg.com/564x/dd/7e/7e/dd7e7ec5dfb88644d6087e0964772f29.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}


@media (min-width: 768px) {
    .container {
        background: url(https://i.pinimg.com/564x/ec/1f/fd/ec1ffd392848d35d8b703b7cc3634770.jpg) no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }
    h1 {
        text-align: center;
        font-size: 36pt;
    }
}

@media (min-width: 992px) {
    .container {
        background: url(https://w-dog.ru/wallpapers/3/6/409053717913013/sport-badminton-kort-sportzal-volan-volanchik-volanchiki-nevesomost-mgnovenie-polet-xoroshaya-ideya-fon-razmytost-boke-oboi.jpg) no-repeat fixed;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
}

.mat-grid-list {
    max-height: 93vh;
    overflow: auto;
}
h1 {
    text-align: center;
}
#add-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 3%;
    margin-bottom: 3%;
    z-index: 1000;
}

.add-hall {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 5%;
    margin-bottom: 5%;
    z-index: 1000;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}