<div fxLayout="column">
    <mat-card style="width: 300px; height: 350px;">
        <mat-card-header>
            <mat-card-title style="width: 100%;">
                Создание секции
            </mat-card-title>
            <div style="width: 30%; display: flex; justify-content: end;"><button mat-icon-button (click)="windowClosed.emit('closed')"><mat-icon>cancel</mat-icon></button></div>
        </mat-card-header>
        <mat-card-content>
            <form novalidate [formGroup]="clubForm" (ngSubmit)="onSubmit()">
                <p class="full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Название</mat-label>
                        <input matInput formControlName="name" type="text" required placeholder="Название секции">
                        <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
                    </mat-form-field>
                </p>
                    <mat-form-field class="full-width" appearance="outline" >
                        <mat-label>Здание</mat-label>
                        <mat-select formControlName="building" required="true">
                            <mat-option *ngFor="let building of buildings" [value]="building.id">{{building.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.building">{{formErrors.building}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Группа</mat-label>
                        <input matInput formControlName="group" type="text">
                        <mat-error *ngIf="formErrors.group">{{formErrors.group}}</mat-error>
                    </mat-form-field>
                <div class="submit-block">
                    <button type="submit" class="submit-button" mat-button [disabled]="clubForm.invalid">Отправить</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
