.container {
    margin: 0;
    min-height: 93vh;
}
    .mat-card-md-image {
        width: 112px;
        height: 112px;
    }

.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
    height: 100px;
}

.mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar {
    width: 80px;
    height: 80px;
}

.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
    height: 100px;
}

.mat-list-base .mat-list-item.mat-2-line:hover, .mat-list-base .mat-list-option.mat-2-line:hover {
    background-color: rgb(240, 240, 240);
    z-index: 1;
    transform: scale(1.01);
}

#buildings {
    overflow: auto;
    max-height: 50vh !important;
}
@media (min-width: 992px) {
    #buildings {
        max-height: 93vh !important;
        overflow-x: hidden;
    overflow-y:visible;
    }
}

.main {
    background: url(https://i.pinimg.com/564x/32/8f/a6/328fa63d50c67172597d9430aa7ccce4.jpg) repeat-y;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    min-height: 100%;
    @media (max-width: 959px) {
        min-height: fit-content;
    }
}

.mat-list-item {
    background: rgba($color: white, $alpha: 0.5)
}

.mat-list-item .bold {
    font-weight: bold;
}

#add-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 3%;
    margin-bottom: 30px;
    z-index: 1000;
}

.mat-list-base {
    width: 100%;
}

.building_card {
    height: 80%;
    width: 200px; 
    margin: 20px;
    display: flex;
    flex-direction: column;
}