

.container {
    margin: 0;
    height: 93vh;
}

#buildings {
    overflow: auto;
    max-height: 50vh !important;
}
@media (min-width: 992px) {
    #buildings {
        height: 93vh;
        max-height: 93vh !important;
        overflow-x: hidden;
    overflow-y:visible;
    }
    #divider {
        height: 100%;
        margin: 0;
    }
}

.hall_img {
    max-height: 500px;
}

.building_img {
    width: 100%;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar:hover, .mat-list-base .mat-list-option.mat-2-line:hover {
    background-color: rgb(240, 240, 240);
    z-index: 1;
    transform: scale(1.01);
}
