<app-loading *ngIf="loading"></app-loading>
<div class="container"
*ngIf="!loading"
     fxLayout="column">
     <div fxFlex *ngIf="!errMsg">
        <div fxLayout="column" fxLayout.gt-md="row" style="height: 100%;">
            <div  *ngIf="halls" fxFlex.gt-sm="30" fxLayout="column" id="buildings">
                <form style="margin-left: 20%;">
                    <mat-form-field appearance="standard" style="color: white;">
                            <mat-label>Поиск</mat-label>
                            <input  style="color: white;" type="text" matInput placeholder="Введите название или номер зала" name="search" #search (input)="onChanged($event.target)">
                            <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>
                <mat-list *ngIf="searchedHalls!=undefined">
                    <mat-list-item *ngFor="let hall of searchedHalls" (click)="click(hall)">
                        <img src="{{ BaseURL + 'media/' + hall.id + '_hall.jpg'}}" mat-list-avatar>
                        <h3 matLine>{{hall.name+", "+hall.number }}</h3>
                    </mat-list-item>
                </mat-list>
            <mat-accordion *ngIf="searchedHalls==undefined">
                <mat-expansion-panel *ngFor="let building of data | keyvalue" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{building.key.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ building.key.city + " " + building.key.address + " д." + building.key.number + building.key.liter}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let hall of building.value" (click)="click(hall)">
                            <img src="{{ BaseURL + 'media/' + hall.id + '_hall.jpg'}}" mat-list-avatar>
                            <h3 matLine>{{hall.name+", "+hall.number }}</h3>
                            <button mat-icon-button *ngIf="isAdmin" (click)="editedHall=hall; openEditForm=true; openForm=false"><mat-icon style="color: black;">edit</mat-icon></button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-divider [vertical]="isVertical" id="divider"></mat-divider>
            </div>
            <div div fxFlex="50" fxFlex.gt-sm="70" *ngIf="selectedHall" >
                <div style="width: 100%;"  fxLayout.gt-md="row" fxLayout="column">
                    <div fxFlex="40" style="padding: 30px;">
                         <h3 style="text-align: center;">{{selectedHall.name}}</h3>
                        <p><b>Номер:</b> {{selectedHall.number}}</p>
                        <p><b>Максимальное кол-во занимающихся:</b> {{selectedHall.occupancy}}</p>
                        <p><b>Адрес: </b>{{ selectedHall.building.city + " " +selectedHall.building.address + " д." + selectedHall.building.number + selectedHall.building.liter}}</p>
                </div>
                <div class="carousel-container" fxFlex="60">
                    <igx-carousel #carousel>
                        <igx-slide>
                            <div class="image-container">
                                <img src="{{ BaseURL + 'media/' + selectedHall.id + '_hall.jpg'}}">
                            </div>
                        </igx-slide>
                        <igx-slide>
                            <div class="image-container">
                                <img src="{{ BaseURL + 'media/' + selectedHall.building.id + '_building.jpg'}}">
                            </div>
                        </igx-slide>
                    </igx-carousel>
                </div>                
                </div>
                <div style="width: 100%;" align="end">
                    
                <google-map width="100%" [center]="center">
                    <map-marker
                        [position]="center"
  >
  </map-marker>
                </google-map>
                </div>
        </div>
        <div div fxFlex="50" fxFlex.gt-sm="70" *ngIf="selectedHall==undefined" style="align-items: center; justify-content: center; display: flex;" fxLayout="column">
                <mat-spinner></mat-spinner><h4>Загрузка...</h4>
        </div>
        </div>
     </div>
     <app-update-hall *ngIf="openEditForm" (windowClosed)="openEditForm=false" class="add-hall" (created)="openEditForm=false; getValues()" [hall]="editedHall"></app-update-hall>
     <app-create-hall *ngIf="openForm" (windowClosed)="openForm=false; " class="add-hall" (created)="openForm=false; getValues()"></app-create-hall>
     <button *ngIf="getIsAdmin()" mat-fab id="add-button" (click)="openEditForm? openEditForm=false: openForm=!openForm"><mat-icon>add</mat-icon></button>
     <app-error-component *ngIf="errMsg" [err]="errMsg"></app-error-component>
</div>
